<div
  class="py-4 bg-gradient-to-r from-lime-100 via-lime-300 to-lime-100 min-h-screen"
>
  <div class="container mx-auto flex justify-between mt-20 mb-6">
    <!-- Buttons -->
    <div class="flex space-x-4">
      <button
        (click)="viewAllRecipes()"
        class="bg-blue-500 hover:bg-blue-600 text-black py-2 px-4 rounded-lg font-medium transition-transform hover:scale-110 duration-200"
        [ngClass]="{ underline: activeButton.allRecipe }"
      >
        All Recipes
      </button>
      <button
        *ngIf="isLoggedIn"
        (click)="viewUserRecipes()"
        class="bg-green-500 hover:bg-green-600 text-black py-2 px-4 rounded-lg font-medium transition-transform hover:scale-110 duration-200"
        [ngClass]="{ underline: activeButton.userRecipes }"
      >
        My Recipes
      </button>
      <button
        *ngIf="isLoggedIn"
        (click)="viewSavedRecipes()"
        class="bg-amber-500 hover:bg-amber-600 text-black py-2 px-4 rounded-lg font-medium transition-transform hover:scale-110 duration-200"
        [ngClass]="{ underline: activeButton.savedRecipes }"
      >
        Saved Recipes
      </button>
    </div>
    <!-- Search Bar and Filters -->
    <div class="flex">
      <button
        class="w-full mr-4 bg-white/90 hover:bg-white/100 text-black py-2 px-4 rounded-lg font-medium transition-transform hover:scale-105 duration-300"
        (click)="openIngredientSearchModal()"
        [ngClass]="{ 'underline bg-white/100': activeButton.ingredientRecipes }"
      >
        Search by Ingredients
      </button>

      <input
        type="text"
        placeholder="Search Recipes"
        [(ngModel)]="searchText"
        class="rounded p-2 w-full mr-4 border-2 border-black transition-transform hover:scale-110 duration-300"
        (input)="searchRecipe()"
      />
      <select
        class="border rounded p-2 font-semibold transition-transform hover:scale-110 duration-300"
        [(ngModel)]="selectedCategory"
        (change)="filterRecipes()"
      >
        <option value="">All</option>
        <option value="Vegan">Vegan</option>
        <option value="Vegetarian">Vegetarian</option>
        <option value="Non-Vegetarian">Non-Vegetarian</option>
      </select>
    </div>
  </div>

  <!-- No Recipes Found -->
  <div
    *ngIf="displayRecipes.length === 0"
    class="container mx-auto flex justify-center items-center font-medium mt-20"
  >
    <span>No recipe has been found</span>
  </div>

  <!-- Recipe Cards -->
  <div
    class="container mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
  >
    <div
      *ngFor="let recipe of displayRecipes; let i = index"
      [ngStyle]="{ '--stagger-delay': i * 0.1 + 's' }"
      class="fade-in-up relative rounded overflow-hidden shadow-lg bg-white transition-transform transform hover:-translate-y-2 hover:shadow-xl duration-300"
    >
      <!-- Card Image with Overlay -->
      <div class="relative">
        <img
          class="w-full aspect-w-16 aspect-h-9 object-cover rounded-t-lg"
          [src]="recipe.image_url"
          alt="{{ recipe.name }}"
        />
        <div
          class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-85 hover:opacity-95 transition-opacity duration-300"
        ></div>
        <h3
          class="absolute bottom-2 left-2 text-white text-lg font-semibold bg-black bg-opacity-50 rounded-lg px-2 py-1"
        >
          {{ recipe.name }}
        </h3>
        <button
          (click)="toggleBookmark(recipe.id)"
          [matTooltip]="
            savedRecipesId.has(recipe.id) ? 'Unsave Recipe' : 'Save Recipe'
          "
          class="absolute text-white bottom-5 right-4"
        >
          <mat-icon>{{
            savedRecipesId.has(recipe.id) ? "bookmark" : "bookmark_border"
          }}</mat-icon>
        </button>
      </div>

      <!-- Card Content -->
      <div class="p-4">
        <div class="flex justify-between items-center">
          <span
            class="bg-blue-100 text-blue-700 text-xs font-bold px-2 py-1 rounded-full"
          >
            {{ recipe.dietary_preferences }}
          </span>
          <span class="text-sm text-gray-600 font-medium">
            {{ recipe.cooking_time }} mins
          </span>
        </div>
        <p class="text-gray-700 mt-2 text-sm">
          {{ recipe.description }}
        </p>
        <a
          class="cursor-pointer block mt-4 text-center bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg transition-transform transform hover:scale-105"
          (click)="viewDetails(recipe.id)"
        >
          View Details
        </a>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div
    *ngIf="displayRecipes.length !== 0"
    class="container mx-auto mt-4 flex justify-between"
  >
    <button
      class="bg-gray-400 p-2 rounded"
      [ngClass]="
        currentPage !== 1
          ? 'hover:bg-gray-500 transition-transform hover:scale-110 duration-200'
          : 'cursor-not-allowed'
      "
      [disabled]="currentPage === 1"
      (click)="previousPage()"
    >
      Previous
    </button>
    <span>Page {{ currentPage }} of {{ totalPage }}</span>
    <button
      class="bg-gray-400 p-2 rounded"
      [ngClass]="
        currentPage !== totalPage
          ? 'hover:bg-gray-500 transition-transform hover:scale-110 duration-200'
          : 'cursor-not-allowed'
      "
      [disabled]="currentPage === totalPage"
      (click)="nextPage()"
    >
      Next
    </button>
  </div>

  <!--Ingredient search modal-->
  <div
    *ngIf="isIngredientModalOpen"
    class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center"
  >
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
      <h3 class="text-lg font-semibold mb-4">Search Recipes by Ingredients</h3>

      <!-- Manual Entry -->
      <input
        type="text"
        [(ngModel)]="ingredientInput"
        (input)="validateIngredientInput($event)"
        [disabled]="selectedIngredients.length > 0"
        placeholder="Enter ingredients (comma separated)"
        class="w-full border p-2 mb-3"
        [ngClass]="{ 'cursor-not-allowed': selectedIngredients.length > 0 }"
      />
      <div *ngIf="errorMessage" class="text-red-500 text-sm">
        {{ errorMessage }}
      </div>

      <!-- Ingredient Selection -->
      <div class="h-40 overflow-y-auto border p-2 rounded-lg">
        <label
          *ngFor="let ingredient of allIngredients; let i = index"
          class="block"
        >
          <input
            type="checkbox"
            [checked]="selectedIngredients.includes(ingredient)"
            (change)="toggleIngredientCheckbox(ingredient, $event)"
          />
          {{ ingredient }}
        </label>
      </div>

      <div class="my-3 font-medium">
        Get recipes matching
        <input
          class="mx-1 cursor-pointer relative top-[2px]"
          type="radio"
          value="all"
          [(ngModel)]="typeOfIngredientSearch"
        />
        all /
        <input
          class="mx-1 cursor-pointer relative top-[2px]"
          type="radio"
          value="any"
          [(ngModel)]="typeOfIngredientSearch"
        />
        any ingredients
      </div>

      <!-- Buttons -->
      <div class="flex justify-between mt-4">
        <button
          class="bg-gray-500 px-4 py-2 text-white rounded"
          (click)="isIngredientModalOpen = false"
        >
          Cancel
        </button>
        <button
          class="bg-green-500 px-4 py-2 text-white rounded"
          (click)="clearSearch()"
          [disabled]="
            selectedIngredients.length === 0 && ingredientInput === ''
          "
          [ngClass]="{
            'opacity-80 cursor-not-allowed':
              selectedIngredients.length === 0 && ingredientInput === ''
          }"
        >
          Clear
        </button>
        <button
          class="bg-blue-500 px-4 py-2 text-white rounded"
          (click)="searchRecipes()"
          [disabled]="
            (selectedIngredients.length === 0 &&
              (ingredientInput === '' || errorMessage !== '')) ||
            typeOfIngredientSearch === ''
          "
          [ngClass]="{
            'opacity-80 cursor-not-allowed':
              (selectedIngredients.length === 0 &&
                (ingredientInput === '' || errorMessage !== '')) ||
              typeOfIngredientSearch === ''
          }"
        >
          Search
        </button>
      </div>
    </div>
  </div>
</div>
